<article class="listCards">
    <section *ngFor="let carpool of carpools" class="cardCarpool">
        <header>
            <p><strong>Date: </strong> {{carpool.dateDepart | date: 'MM/dd/yyyy'}}</p>
            <div class="right">
                <p><strong>Marque:</strong> {{carpool.vehicleDTO.brand}}</p>
                <p><strong>Modèle:</strong> {{carpool.vehicleDTO.model}}</p>
            </div>
        </header>
        <main class="cardCorps">
            <div class="left">
                <div class="time">
                    <p>{{carpool.dateDepart | date: 'shortTime'}}</p>
                     <p>{{carpool.duration}} heure(s)</p>
                    <p>{{carpool.dateDepart | date: 'shortTime' + carpool.duration}}</p>
                </div>
                <img src="../../../assets/svg/traject.svg"/>
                <div class="place">
                    <h4>{{carpool.addressLeaving}}</h4>
                    <br/>
                    <h4>{{carpool.addressArrival}}</h4>
                </div>
            </div>
        </main>
        <footer>
            <div class="profil">
                <img src=""/>
                <h4>Nom Prénom</h4>
            </div>
            <app-button color="#4F654A" >Réserver</app-button>
        </footer>
    </section>
</article>

<!-- not working yet -->