<article class="listCards">
    <section *ngFor="let vehicle of  vehicles" class="cardVehicle">
        <header>
            <img src={{vehicle.urlPhoto}}>
            <div>
                <p id="motorization">{{vehicle.motorization}}</p>
                <p id="nbPlaces">{{vehicle.nbPlaces}}</p>
                <p id="category">{{vehicle.category}}</p>
            </div>
        </header>
        <div class="cardCorps">
            <div>
                <h1>{{vehicle.brand}} {{vehicle.model}}</h1>
                <p>{{vehicle.cO2}}</p>
                <!-- <div>
                    <img src=""/>
                    <p>Localisation:</p>
                </div> -->
            </div>
            <button>Modifier</button>
        </div>
    </section>
</article>