// button.component.css
button {
    align-self: center;
    padding: 0.4rem;
    margin-top: 1rem;
    color: white;
    border: none;
    border-radius: 2px;
    width: 120px;
    font-family: 'Alef';
    font-weight: normal;
    font-size: 0.8rem;
}