<div class="home-container">
    <div class="button-container">
        <div class="top-button-container">
            <button [routerLink]="['/rent']">
                <img src="../../../../assets/svg/locationLogo.svg">
                <p>Location</p>
            </button>
            <button [routerLink]="['covoit']">
                <img src="../../../../assets/svg/carpoolLogo.svg">
                <p>Covoiturage</p>
            </button>
        </div>
        <button [routerLink]="['user-page']">
            <img src="../../../../assets/svg/usr-icon-blue.svg">
            <p>Mon compte</p>
        </button>
    </div>
    <app-button color="#654A4A" (click)="logout()">Me deconnecter</app-button>
</div>